// colors

$black: #111;
$super-dark-gray: #444;
$dark-gray: #666;
$gray: #888;
$light-gray: #bbb;
$super-light-gray: #eee;
$white: #f9f9f9;

// variables
$height-header: 80px;
$height-main: calc(100vh - #{$height-header});
$height-eyecatch: 100vh;
